.cardButton {
  margin: 16px 8px 16px 8px !important;
  color: #fafafa !important;
  font-family: Nunito Sans, sans-serif !important;

  &:hover {
    background-color: #2e7d32 !important;
    /* green[800] */
    color: #fdd835 !important;
    /* yellow[600] */
  }
}

.formButton {
  margin: 16px 8px 16px 8px !important;
  color: #fafafa !important;
  font-family: Nunito Sans, sans-serif !important;

  &:hover {
    background-color: #2e7d32 !important;
    /* green[800] */
    color: #fdd835 !important;
    /* yellow[600] */
  }
}

.previousButton {
  margin: 16px 8px 16px 8px !important;
  color: #fdd835 !important;
  font-family: Nunito Sans, sans-serif !important;


  &:hover {
    background-color: #2e7d32 !important;
    /* green[800] */
    color: #f9a825 !important;
    /* yellow[800] */
  }
}

.deleteButton {
  margin: 16px 8px 16px 8px !important;
  color: #fdd835 !important;
  font-family: Nunito Sans, sans-serif !important;

  &:hover {
    background-color: #2e7d32 !important;
    /* green[800] */
    color: #f9a825 !important;
    /* yellow[800] */
  }
}