.form {
  margin: auto !important;
  max-width: 500px !important;
  padding: 16px 0px 8px 0 !important;
  text-align: center !important;

  >div>div {
    background-color: #fafafa !important;
    /* grey[50] */
  }
}