.list {

    &:hover {
        background-color: #fdd835 !important;
        /* yellow[600] */
    }
}

.avatar {
    background-color: #43a047 !important;
    /* green[600] */
}

.divider {
    border: 1px solid #43a047 !important;
    /* green[600] */
}