.photosHeader {
  background-color: #43a047 !important;


  span {
    font-family: Nunito Sans, sans-serif !important;
    font-weight: bold;
    color: #fafafa !important;
  }
}

.photosBody {
  background-color: #e8f5e9 !important;

    p {
      font-family: Nunito Sans, sans-serif !important;
      font-weight: bold;
      color: #43a047 !important;
    }
}

.photosAction {
  background-color: #e8f5e9 !important;
  justify-content: center !important;
}