.postHeader {
  background-color: #43a047 !important;


  div {
    font-family: Nunito Sans, sans-serif !important;
    font-weight: bold;
    color: #fafafa !important;
  }
}

.postBody {
  background-color: #e8f5e9 !important;

    p {
      font-family: Nunito Sans, sans-serif !important;
      font-weight: bold;
      color: #43a047 !important;
    }
}

.postAction {
  background-color: #e8f5e9 !important;
}